/* Setjum inn „reset“ sem fjarlægir margin og padding af öllu */
* {
  margin: 0;
  padding: 0;
}

/* Reiknum stærð á öllum boxum sem border-box */
html {
  box-sizing: border-box;

  /* Lætur skroll innan síðu taka tíma */
  scroll-behavior: smooth;
}

/* og látum erfast á allt */
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  color: var(--color-text);
  font-family: var(--font-family-base);
  font-size: var(--font-base-body-px);
  line-height: 1.5;
}

h1,
h2,
h3 {
  color: var(--color-heading);
  font-family: var(--font-family-heading);
}

.latest-recipes-heading-home {
  p {
    font-family: var(--font-family-base-bolder);
    font-size: calc(calc(3/4) * 1rem);
  }

  h2 {
    font-size: calc(calc(5/4) * 1rem);
  }
}

img {
  max-width: 100%;
}
