button {
  background: #fafafa;
  border: 1px solid #e3cdb1;
  font-family: "Poppins";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  text-decoration: none;
  text-decoration-color: #e3cdb1;
}

.index-button{
    background-image: linear-gradient(90deg, #e3cdb1 50%, #fafafa 50%);
    height: 3.25rem;
    text-align: center;
    text-decoration: none;
    width: 50%;
}

