button {
  background: #fafafa;
  border: 1px solid #e3cdb1;
  text-decoration: none;
  height: 52px;
  width: 250px;
}

.index-button {
  text-align: center;
  text-decoration: none;
  width: 50%;

  @media only screen and (max-width: 650px) {
    margin-top: 17px;
    margin: 0 auto;
    width: 191px;
    height: 42px;
  }

  @media only screen and (min-width: 651px) {
    margin-top: 30px;
  }
}

button:hover {
  background-color: #e3cdb1;
  a {
    text-decoration-color: #fafafa;
  }
}

#cookbook_button {
  margin-bottom: 5%;
  background-color: #f7f1eb;
  @media only screen and (max-width: 849px) {
    margin: 0 auto;
  }

  @media only screen and (min-width: 850px) {
    margin-bottom: 15%;
  }
}

#cookbook_button:hover {
  background-color: #e3cdb1;
  a {
    text-decoration-color: #fafafa;
  }
}

a {
  font-family: "Poppins";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  text-decoration: none;

  @media only screen and (max-width: 650px) {
    height: 42px;
    margin-top: 10%;
    width: 191px;
  }

  @media only screen and (min-width: 651px) {
    opacity: 1;
  }
}

button:hover {
  background-color: #e3cdb1;
  a {
    text-decoration-color: #fafafa;
  }
  #cookbook_button {
    margin-bottom: 5%;
  }
}

#cookbook_button {
  background-color: #f7f1eb;
  margin-bottom: 5%;
  @media only screen and (max-width: 734px) {
    margin: 0 auto;
  }

  @media only screen and (min-width: 735px) {
    margin-bottom: 15%;
  }
}

a {
  font-family: "Poppins";
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  text-decoration-color: #e3cdb1;
}
