button {
  background: #fafafa;
  border: 1px solid #e3cdb1;
  height: 52px;
  width: 250px;
}

#index_button {
  background-image: linear-gradient(90deg, #e3cdb1 50%, #fafafa 50%);
  width: 50%;
  text-decoration: none;
  text-align: center;
  height: 3.25rem;
}

#cookbook_button {
  background-color: #f7f1eb;
  width: 50%;
}

a {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  text-decoration-color: #E3CDB1;
}
