button {
  background: transparent;
  border: 1px solid var(--warm-color);
  height: 52px;
  text-decoration: none;
  width: 250px;
}

a {
  font-family: var(--font-family-base);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  text-decoration: none;
  text-decoration-color: var(--warm-color);

  @media only screen and (max-width: 650px) {
    height: 42px;
    margin-top: 10%;
    width: 191px;
  }
}


.index-button {
  text-align: center;
  text-decoration: none;
  width: 50%;

  @media only screen and (max-width: 650px) {
    height: 42px;
    margin: 0 auto;
    margin-top: 17px;
    width: 191px;
  }

  @media only screen and (min-width: 651px) {
    margin-top: 30px;
  }
}

button:hover {
  background-color: var(--warm-color);

  a {
    text-decoration-color: var(--background-offwhite);
  }
}

.cookbook-button {
  background-color: var(--nav-divider-color);
  margin-bottom: 5%;

  @media only screen and (max-width: 849px) {
    margin: 0 auto;
  }

  @media only screen and (min-width: 850px) {
    margin-bottom: 15%;
  }
}

.cookbook-button:hover {
  background-color: var(--warm-color);

  a {
    text-decoration-color: var(--background-offwhite);
  }
}
