button {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  
  text-decoration: none;

  background: #fafafa;
  text-decoration: none;
  border: 1px solid #e3cdb1;
  text-align: center;
  text-decoration-color: #e3cdb1;
}

#index_button{
    background-image: linear-gradient(90deg, #e3cdb1 50%, #fafafa 50%);
    width: 50%;
    text-decoration: none;
    text-align: center;
    height: 3.25rem;
}

