h2 {
  margin-bottom: var(--spacing);
}

.cards {
  display: grid;
  gap: var(--vertical-space);
  grid-template-columns: repeat(var(--columns-offset), 1fr);
  grid-template-rows: auto;

  .card {
    background-color: var(--newsletter-color);
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

.card > .image {
  order: -1;
}

.card > .image img {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  height: 300px;
  object-fit: cover;
  object-position: 50% 50%;
  width: 100%;
}

.card p {
  color: var(--color-text-month);
  font-size: calc(var(--font-base-body-px) * (12 / 16));
  padding: 0.5rem;
}

.card > .content {
  //border: 1px solid #999;
  //border-top: 0;
  display: flex;
  flex: 1;
  gap: var(--spacing);
  justify-content: space-between;
  padding: 0.5rem;

  h3 {
    color: var(--color-heading);
    font-size: calc(var(--font-base-body-px) * (18 / 16));
  }

  p a {
    color: var(--warm-color);
    font-size: calc(var(--font-base-body-px) * (14 / 16));
  }
}

.heading {
  align-items: center;
  gap: var(--offset);
  margin-top: 3rem;

  .content {
    @media (max-width: 600px) {
      margin-top: calc(var(--offset) * 3);
    }
  }

  .filters {
    color: var(--color-heading);
    font-family: var(--font-family-heading);
    min-width: min-content;

    @media (max-width: 600px) {
      margin-top: calc(var(--offset) * 3);
    }

    @media (min-width: 600px) {
      font-size: calc(calc(22/16) * 1rem);
    }
  }
}

@media (max-width: 599px) {
  .cards {
    gap: calc(var(--vertical-space) / 2);
    grid-template-columns: repeat(calc(var(--columns-offset) * 2), 1fr);

    .card {
      grid-column: 2/ span 20;
    }
  }
}

@media (min-width: 600px) {
  .cards {
    gap: calc(var(--vertical-space) / 2);
    grid-template-columns: repeat(calc(var(--columns-offset) * 2), 1fr);

    /*
    .card {
      grid-column: span 6;
    }
    */

    .card:nth-child(2n-1) {
      grid-column: 2 / span 10;
    }

    .card:nth-child(2n) {
      grid-column: 12 / span 10;
    }

    .card p {
      font-size: calc(var(--font-base-body-px) * (14 / 16));
    }

    .card > .content h3 {
      font-size: calc(var(--font-base-body-px) * (22 / 16));
    }

    .card > .content p {
      font-size: var(--font-base-body-px);
    }
  }
}

@media (min-width: 900px) {
  .cards {
    gap: var(--vertical-space);
    grid-template-columns: repeat(var(--columns-offset), 1fr);
    width: 100vw;

    .card:nth-child(3n + 1) {
      grid-column: 2 / span 3;
    }

    .card:nth-child(3n + 2) {
      grid-column: 5 / span 3;
    }

    .card:nth-child(3n) {
      grid-column: 8 / span 3;
    }
  }
}

//Fyrirsagnirnar fyrir ofan cards รก homepage

.latest-recipes-heading-home {
  margin-bottom: var(--spacing);
  width: 100vw;
}

.latest-recipes-heading-home p {
  grid-column: 2 / span 9;
  max-width: max-content;
  min-width: max-content;

  @media (min-width: 900px) {
    font-size: 1rem;
  }

  @media (min-width: 1600px) {
    grid-column: 2/span 6;
  }
}

.latest-recipes-heading-home h2 {
  grid-column: 2 / span 9;
  margin-bottom: 0%;
  max-width: max-content;
  min-width: max-content;

  @media (min-width: 900px) {
    font-size: calc(calc(40 / 16) * 1rem);
  }

  @media (min-width: 1600px) {
    grid-column: 2/span 6;
  }
}
