:root {
  /* Grunn bilið okkar er 1rem == 16px */
  --spacing: 1rem;

  /* Hámarksbreidd á efni */
  --max-width: 1600px;
  --color-text: #5e5b69;
  --color-text-month: #9b9b9b;
  --color-heading: #000;
  --newsletter-color: #fff;
  --warm-color: #e3cdb1;
  --background-offwhite: #fafafa;
  --background-white: #f2f2f2;
  --nav-divider-color:#f7f1eb;
  --nav-link-color:#9b9b9b;

  /* Letur stillingar */
  --font-base-body-px: 16px;
  --font-base-size: 1rem;
  --font-family-base: "Poppins", helvetica, arial, sans-serif;
  --font-family-heading: "Playfair Display", georgia, serif;

  /* Grid stillingar */
  --columns: 12;
  --gutter: 30px;
  --offset: 20px;

  /* Bil á milli „stærri“ eininga (header, efnisbox, footer) */
  --vertical-space: calc(var(--gutter));
}
