:root {
  /* Grunn bilið okkar er 1rem == 16px */
  --spacing: 1rem;

  /* Hámarksbreidd á efni */
  --max-width: 1600px;
  --max-main-width: 1300px;

  /* Hámarks hæð á efni */
  --max-height-hero: 800px;
  --max-height-hero-mobile: 560px;

  /* Litir */
  --color-text: #5e5b69;
  --color-text-month: #9b9b9b;
  --color-heading: #000;
  --color-heading-soft: #d0d0d0;
  --newsletter-color: #fff;
  --warm-color: #e3cdb1;
  --background-offwhite: #fafafa;
  --background-white: #f2f2f2;
  --nav-divider-color: #f7f1eb;
  --nav-link-color: #9b9b9b;
  --input-focus-color: #525252;

  /* Letur stillingar */
  --font-base-body-px: 16px;
  --font-base-size: 1rem;
  --font-family-base: "PoppinsL", helvetica, arial, sans-serif;
  --font-family-base-bolder: "PoppinsM", helvetica, arial, sans-serif;
  --font-family-heading: "Playfair Display", georgia, serif;

  /* Grid stillingar */
  --columns: 12;
  --columns-offset: 11;
  --gutter: 30px;
  --offset: 20px;

  /* Bil á milli „stærri“ eininga (header, efnisbox, footer) */
  --vertical-space: calc(var(--gutter));
}
