:root {
    /* Grunn bilið okkar er 1rem == 16px */
    --spacing: 1rem;
    /* Hámarksbreidd á efni */
    --max-width: 1400px;
  
    --color-text: #5E5B69;
    --color-heading: #000000;
    --newsletter-color-primary: #FFFFFF;
    --newsletter-color-secondary: #E3CDB1;
  
    /* Letur stillingar */
    --font-base-body-px: 16px;
    --font-base-size: 1rem;
    --font-family-base: 'Poppins', Helvetica, Arial, sans-serif;
    --font-family-heading: 'Playfair Display', Georgia, serif;
  
    /* Grid stillingar */
    --columns: 12;
    --gutter: 30px;
    --offset: 20px;
  
    /* Bil á milli „stærri“ eininga (header, efnisbox, footer) */
    --vertical-space: calc(var(--gutter));
  }