#cookbook {
  display: flex;

  background-image: linear-gradient(0deg,  #FFFFFF 140px, #f7f1eb 140px);
  height: 800px;
  max-width: 16000px;
  width: 100%;
}

img {
  margin-top: 140px;
  margin-right: 265;
  height: 607.6182861328125px;
  width: 440px;


  box-shadow: -30px 18px 1px rgba(0,0,0,0.02);
  -moz-box-shadow:-30px 18px 1px rgba(0,0,0,0.02);
  -webkit-box-shadow: -30px 18px 1px rgba(0,0,0,0.02);
  -khtml-box-shadow: -30px 18px 1px rgba(0,0,0,0.02);
  
}

.cookbook_text {
  display: flex;
  flex-direction: column;
  width: 579px;
  margin-left: 266px;
  margin-right: 100px;
}

p {
  font-family: "Poppins";
  font-style: normal;
  display: flex;
}

.cookbook_text {
  #tiny_headertext {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #e3cdb1;
    margin-top: 182px;
  }

  #paragraph {
    font-weight: 300;
    font-size: 18px;
    height: 128px;
    line-height: 32px;
    /* or 178% */
    margin: 0;
    color: #5e5b69;
    margin-right: 100px;
  }
}

h2 {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 80px;
  margin: 0;
  margin-top: 0;
  color: #000000;
}
