#cookbook {
  display: flex;
  width: 100%;
  height: 110%;
  background-image: linear-gradient(0deg, #ffffff 20%, #f7f1eb 20%);
  max-width: 1600px;
  margin: auto;
  @media only screen and (max-width: 850px){
    flex-direction: column;
  }

}

img {
  @media only screen and (max-width: 320px) {
    margin: 0 auto;
    margin-top: 54px;
    margin-left: 20%;
    margin-right: 20%;
    
    box-shadow: -13px 8px 1px rgba(0, 0, 0, 0.02);
    -moz-box-shadow: -13px 8px 1px rgba(0, 0, 0, 0.02);
    -webkit-box-shadow: -13px 8px 1px rgba(0, 0, 0, 0.02);
    -khtml-box-shadow: -13px 8px 1px rgba(0, 0, 0, 0.02);
  }

  @media only screen and (min-width: 321px) {
    margin: 0 auto;
    margin-top: 54px;
    width: 50%;
    
    box-shadow: -13px 8px 1px rgba(0, 0, 0, 0.02);
    -moz-box-shadow: -13px 8px 1px rgba(0, 0, 0, 0.02);
    -webkit-box-shadow: -13px 8px 1px rgba(0, 0, 0, 0.02);
    -khtml-box-shadow: -13px 8px 1px rgba(0, 0, 0, 0.02);
  }

  @media only screen and (min-width: 850px) {
    /*
    height: 450px;
    width: 300px;
    */
    width: 33%;
    margin: 0;
    margin-top: 8%;
    height: 75%;
    box-shadow: -20px 14px 1px rgba(0, 0, 0, 0.02);
    -moz-box-shadow: -20px 14px 1px rgba(0, 0, 0, 0.02);
    -webkit-box-shadow: -20px 14px 1px rgba(0, 0, 0, 0.02);
    -khtml-box-shadow: -20px 14px 1px rgba(0, 0, 0, 0.02);
  }

  @media only screen and (min-width: 1170px) {
    margin-top: 8%;
    margin-right: 13%;
    height: 70%;
    width: 25%;
    /*
    min-width: 1187px
    height: 607.6182861328125px;
    width: 440px;
    */
    box-shadow: -30px 18px 1px rgba(0, 0, 0, 0.02);
    -moz-box-shadow: -30px 18px 1px rgba(0, 0, 0, 0.02);
    -webkit-box-shadow: -30px 18px 1px rgba(0, 0, 0, 0.02);
    -khtml-box-shadow: -30px 18px 1px rgba(0, 0, 0, 0.02);
  }
}

.cookbook_text {
  display: flex;
  flex-direction: column;
  width: 50%;
  width: 25%;

  @media only screen and (max-width: 320px) {
    width: 100%;
    margin-top: 11%;
    text-align: center;
  }

  @media only screen and (min-width: 321px) {
    width: 100%;
    margin-top: 11%;
  }

  @media only screen and (min-width: 850px) {
    /*
    width: 320px;
    */
    width: 40%;
    margin-left: 8%;
    margin-top: 4%;
    margin-right: 6%;
    padding: 3rem;
  }

  @media only screen and (min-width: 1170px) {
    /*
    1187px
    width: 579px;
    */
    margin-left: 16%;
    margin-right: 6%;
    margin-top: 8%;
    padding: 0;
  }
}

p {
  font-family: "Poppins";
  font-style: normal;
  display: flex;
  color: #5e5b69;
}

#paragraph {
  margin-bottom: 4.5%;
}

#tiny_headertext {
  color: #e3cdb1;
}

.cookbook_text {
  @media only screen and (max-width: 320px) {
    #tiny_headertext {
      display: none;
    }

    #paragraph {
      display: none;
    }

    #mobile_paragraph {
      display: flex;
      font-weight: 300;
      font-size: 15px;
      line-height: 24px;
      /* or 160% */
    }
  }

  @media only screen and (min-width: 321px) {
    #tiny_headertext {
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      margin: 0 auto;
    }

    #paragraph {
      word-wrap: break-word;
      font-weight: 300;
      font-size: 18px;
      line-height: 32px;
      margin: 5%;
      margin-bottom: 30px;
    }

    #mobile_paragraph{
      display: none;
    }

  }

  @media only screen and (min-width: 850px) {
    #tiny_headertext {
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      margin: 0;
    }

    #paragraph {
      word-wrap: break-word;
      font-weight: 300;
      font-size: 18px;
      line-height: 32px;
      margin-left: 0 ;
    }

    #mobile_paragraph{
      display: none;
    }
  }

  @media only screen and (min-width: 1170px) {
    #tiny_headertext {
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
    }

    #paragraph {
      font-weight: 300;
      font-size: 18px;
      line-height: 32px;
      /* or 178% */
    }

    #mobile_paragraph {
      display: none;
    }
  }
}

h2 {
  font-family: "Playfair Display";
  font-style: normal;
  color: #000000;
  margin: 0;
  font-weight: 700;

  @media only screen and (max-width: 320px) {
    font-size: 32px;
    line-height: 43px;

  }

  @media only screen and (min-width: 321px) {
    font-size: 43px;
    line-height: 43px;
    margin: 0 auto;
  }

  @media only screen and (min-width: 850px) {
    font-size: 42px;
    line-height: 53px;
    margin: 0;
  }

  @media only screen and (min-width: 1170px) {
    font-size: 60px;
    line-height: 80px;
  }
}

.tolvu_h2{
  @media only screen and (max-width: 320px){
    display: none;
  }
}

.mobile_h2{
  @media only screen and (min-width: 321px){
    display: none;
  }
}