.cookbook {
  background-image: linear-gradient(0deg, var(--newsletter-color) 20%, #f7f1eb 20%);
  display: flex;
  height: 110%;
  margin: auto;
  max-width: 1600px;
  width: 100%;

  @media only screen and (max-width: 850px){
    flex-direction: column;
  }
}

.cookbook-img{
  @media only screen and (max-width: 320px) {
    box-shadow: -13px 8px 1px rgba(0, 0, 0, 2%);
    margin-left: 20%;
    margin-right: 20%;
    margin: 0 auto;
    margin-top: 54px;
    -khtml-box-shadow: -13px 8px 1px rgba(0, 0, 0, 2%);
    -moz-box-shadow: -13px 8px 1px rgba(0, 0, 0, 2%);
    -webkit-box-shadow: -13px 8px 1px rgba(0, 0, 0, 2%);
  }

  @media only screen and (min-width: 321px) {
    box-shadow: -13px 8px 1px rgba(0, 0, 0, 2%);
    margin: 0 auto;
    margin-top: 54px;
    width: 50%;
    -khtml-box-shadow: -13px 8px 1px rgba(0, 0, 0, 2%);
    -moz-box-shadow: -13px 8px 1px rgba(0, 0, 0, 2%);
    -webkit-box-shadow: -13px 8px 1px rgba(0, 0, 0,2%);
  }

  @media only screen and (min-width: 850px) {
    box-shadow: -20px 14px 1px rgba(0, 0, 0, 2%);
    height: 75%;
    margin: 0;
    margin-top: 8%;
    width: 33%;
    -khtml-box-shadow: -20px 14px 1px rgba(0, 0, 0, 2%);
    -moz-box-shadow: -20px 14px 1px rgba(0, 0, 0, 2%);
    -webkit-box-shadow: -20px 14px 1px rgba(0, 0, 0,2%);
  }

  @media only screen and (min-width: 1170px) {
    box-shadow: -30px 18px 1px rgba(0, 0, 0, 2%);
    height: 70%;
    margin-right: 13%;
    margin-top: 8%;
    width: 25%;
    -khtml-box-shadow: -30px 18px 1px rgba(0, 0, 0, 2%);
    -moz-box-shadow: -30px 18px 1px rgba(0, 0, 0, 2%);
    -webkit-box-shadow: -30px 18px 1px rgba(0, 0, 0,2%);
  }
}

.cookbook-text {
  display: flex;
  flex-direction: column;
  width: 50%;
  width: 25%;

  @media only screen and (max-width: 320px) {
    margin-top: 11%;
    text-align: center;
    width: 100%;
  }

  @media only screen and (min-width: 321px) {
    margin-top: 11%;
    width: 100%;
  }

  @media only screen and (min-width: 850px) {
    margin-left: 8%;
    margin-right: 6%;
    margin-top: 4%;
    padding: 3rem;
    width: 40%;
  }

  @media only screen and (min-width: 1170px) {
    margin-left: 16%;
    margin-right: 6%;
    margin-top: 8%;
    padding: 0;
  }
}

p {
  color: #5e5b69;
  display: flex;
  font-family: var(--font-family-base);
}

.paragraph {
  margin-bottom: 4.5%;
}

.tiny_headertext {
  color: #e3cdb1;
}

.cookbook-text {
  @media only screen and (max-width: 320px) {
    .tiny_headertext {
      display: none;
    }

    .paragraph {
      display: none;
    }

    .mobile-paragraph {
      display: flex;
      font-size: 15px;
      font-weight: 300;
      line-height: 24px;
    }
  }

  @media only screen and (min-width: 321px) {
    .tiny_headertext {
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
      margin: 0 auto;
    }

    .paragraph {
      font-size: 18px;
      font-weight: 300;
      line-height: 32px;
      margin: 5%;
      margin-bottom: 30px;
      word-wrap: break-word;
    }

    .mobile_paragraph{
      display: none;
    }

  }

  @media only screen and (min-width: 850px) {
    .tiny_headertext {
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
      margin: 0;
    }

    .paragraph {
      font-size: 18px;
      font-weight: 300;
      line-height: 32px;
      margin-left: 0 ;
      word-wrap: break-word;
    }

    .mobile-paragraph { 
      display: none;
    }
  }

  @media only screen and (min-width: 1170px) {
    .tiny_headertext {
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
    }

    .paragraph {
      font-size: 18px;
      font-weight: 300;
      line-height: 32px;
    }

    .mobile_paragraph {
      display: none;
    }
  }

  h2 {
    color: var(--color-heading);
    font-family: var(--font-family-heading);
    font-weight: 700;
    margin: 0;
  
    @media only screen and (max-width: 320px) {
      font-size: 32px;
      line-height: 43px;
    }
  
    @media only screen and (min-width: 321px) {
      font-size: 43px;
      line-height: 43px;
      margin: 0 auto;
    }
  
    @media only screen and (min-width: 850px) {
      font-size: 42px;
      line-height: 53px;
      margin: 0;
    }
  
    @media only screen and (min-width: 1170px) {
      font-size: 60px;
      line-height: 80px;
    }
  }
}



.tolvu-h2{
  @media only screen and (max-width: 320px){
    display: none;
  }
}

.mobile-h2{
  @media only screen and (min-width: 321px){
    display: none;
  }
}