.cookbook {
  background-image: linear-gradient(0deg, var(--newsletter-color) 20%, var(--nav-divider-color) 20%);
  margin: auto;
  max-width: 1600px;

  @media only screen and (max-width: 850px) {
    flex-direction: column;
  }
}

.cookbook-img {
  @media only screen and (max-width: 320px) {
    box-shadow: -13px 7px rgb(0 0 0 / 2%);
    margin: 0 auto;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 54px;
  }

  @media only screen and (min-width: 321px) {
    box-shadow: -17px 12px rgb(0 0 0 / 2%);
    margin: 0 auto;
    margin-top: 54px;
    width: 50%;
  }

  @media only screen and (min-width: 850px) {
    box-shadow: -26px 16px rgb(0 0 0 / 2%);
    height: 75%;
    margin: 0;
    margin-top: 8%;
    width: 33%;
  }

  @media only screen and (min-width: 1170px) {
    box-shadow: -30px 18px rgb(0 0 0 / 2%);
    height: 70%;
    margin-right: 13%;
    margin-top: 8%;
    width: 25%;
  }
}

.cookbook-text {
  @media only screen and (max-width: 320px) {
    margin-top: 11%;
    text-align: center;
    width: 100%;
  }

  @media only screen and (min-width: 321px) {
    margin-top: 11%;
    width: 100%;
  }

  @media only screen and (min-width: 850px) {
    margin-left: 8%;
    margin-right: 6%;
    margin-top: 4%;
    padding: 3rem;
    width: 40%;
  }

  @media only screen and (min-width: 1170px) {
    margin-left: 16%;
    margin-right: 6%;
    margin-top: 8%;
    padding: 0;
  }

  h2 {
    color: var(--color-heading);
    font-family: var(--font-family-heading);
    font-weight: 700;
    margin: 0;

    @media only screen and (max-width: 320px) {
      font-size: 32px;
      line-height: 43px;
    }

    @media only screen and (min-width: 321px) {
      font-size: 43px;
      line-height: 43px;
      margin: 0 auto;
    }

    @media only screen and (min-width: 850px) {
      font-size: 42px;
      line-height: 53px;
      margin: 0;
    }

    @media only screen and (min-width: 1170px) {
      font-size: 60px;
      line-height: 80px;
    }
  }
}

.tiny-headertext {
  color: var(--warm-color);

  @media only screen and (max-width: 320px) {
    display: none;
  }

  @media only screen and (min-width: 321px) {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    margin: 0 auto;
  }

  @media only screen and (min-width: 850px) {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    margin: 0;
  }

  @media only screen and (min-width: 1170px) {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
  }
}

.cookbook p {
  font-family: var(--font-family-base);
}

.paragraph {
  color: var(--color-text);
  margin-bottom: 4.5%;

  @media only screen and (max-width: 320px) {
    display: none;
  }

  @media only screen and (min-width: 321px) {
    font-size: 18px;
    font-weight: 300;
    line-height: 32px;
    margin: 5%;
    margin-bottom: 30px;
    word-wrap: break-word;
  }

  @media only screen and (min-width: 850px) {
    font-size: 18px;
    font-weight: 300;
    line-height: 32px;
    margin-left: 0;
    word-wrap: break-word;
  }

  @media only screen and (min-width: 1170px) {
    font-size: 18px;
    font-weight: 300;
    line-height: 32px;
  }
}

.mobile-paragraph {
  color: var(--color-text);
  @media only screen and (max-width: 320px) {
    display: flex;
    font-size: 15px;
    font-weight: 300;
    line-height: 24px;
  }

  @media only screen and (min-width: 321px) {
    display: none;
  }

  @media only screen and (min-width: 850px) {
    display: none;
  }

  @media only screen and (min-width: 1170px) {
    display: none;
  }
}

.tolvu-h2 {
  @media only screen and (max-width: 320px) {
    display: none;
  }
}

.mobile-h2 {
  @media only screen and (min-width: 321px) {
    display: none;
  }
}
