#cookbook {
  display: flex;
  width: 100%;

  @media only screen and (max-width: 599px) {
    flex-direction: column;
    height: 512px;
    background-image: linear-gradient(0deg, #ffffff 140px, #f7f1eb 140px);
  }

  @media only screen and (min-width: 600px) {
    height: 584px;
    background-image: linear-gradient(0deg, #ffffff 100px, #f7f1eb 100px);
  }

  @media only screen and (min-width: 1000px) {
    height: 656px;
    background-image: linear-gradient(0deg, #ffffff 100px, #f7f1eb 100px);
  }

  @media only screen and (min-width:1300px){
    height: 800px;
    max-width: 1600px;
    background-image: linear-gradient(0deg, #ffffff 140px, #f7f1eb 140px);
  }
}

img {
  @media only screen and (max-width: 599px) {
    width: 192px;
    margin: 0 auto;
    height: 264px;
    box-shadow: -13px 8px 1px rgba(0, 0, 0, 0.02);
    -moz-box-shadow: -13px 8px 1px rgba(0, 0, 0, 0.02);
    -webkit-box-shadow: -13px 8px 1px rgba(0, 0, 0, 0.02);
    -khtml-box-shadow: -13px 8px 1px rgba(0, 0, 0, 0.02);
  }

  @media only screen and (min-width: 600px) {
    height: 450px;
    width: 300px;
    margin-top: 75px;
    box-shadow: -20px 14px 1px rgba(0, 0, 0, 0.02);
    -moz-box-shadow: -20px 14px 1px rgba(0, 0, 0, 0.02);
    -webkit-box-shadow: -20px 14px 1px rgba(0, 0, 0, 0.02);
    -khtml-box-shadow: -20px 14px 1px rgba(0, 0, 0, 0.02);
  }

  @media only screen and (min-width:1000px){
    margin-top: 8%;
    margin-right: 13%;
    height: 528.5px;
    width: 360px;
    box-shadow: -30px 18px 1px rgba(0, 0, 0, 0.02);
    -moz-box-shadow: -30px 18px 1px rgba(0, 0, 0, 0.02);
    -webkit-box-shadow: -30px 18px 1px rgba(0, 0, 0, 0.02);
    -khtml-box-shadow: -30px 18px 1px rgba(0, 0, 0, 0.02);
  }

  @media only screen and (min-width: 1300px){
    margin-top: 8%;
    margin-right: 13%;
    height: 607.6182861328125px;
    width: 440px;
    box-shadow: -30px 18px 1px rgba(0, 0, 0, 0.02);
    -moz-box-shadow: -30px 18px 1px rgba(0, 0, 0, 0.02);
    -webkit-box-shadow: -30px 18px 1px rgba(0, 0, 0, 0.02);
    -khtml-box-shadow: -30px 18px 1px rgba(0, 0, 0, 0.02);
  }
}

.cookbook_text {
  display: flex;
  flex-direction: column;

  @media only screen and (max-width: 599px) {
    width: 100%;
    margin-top: 11%;
  }

  @media only screen and (min-width: 600px) {
    width: 320px;
    margin-left: 16%;
    margin-right: 5%;
    margin-top:8%;
  }

  @media only screen and (min-width:1000px){
    width: 579px;
    margin-left: 16%;
    margin-right: 5%;
    margin-top: 11%;
  }

  @media only screen and (min-width:1300px){
    width: 579px;
    margin-left: 16%;
    margin-right: 5%;
    margin-top: 11%;
  }
}

p {
  font-family: "Poppins";
  font-style: normal;
  display: flex;
  color: #5e5b69;
}

#paragraph{
  margin-bottom: 4.5%;
}

#tiny_headertext{
  color: #e3cdb1;
}

.cookbook_text {
  @media only screen and (max-width: 599px) {
    #tiny_headertext {
      display: none;
    }

    #paragraph {
      display: none;
    }

    #mobile_paragraph {
      display: flex;
      font-weight: 300;
      font-size: 15px;
      line-height: 24px;
      /* or 160% */
      align-items: center;
      text-align: center;
    }
  }

  @media only screen and (min-width: 600px) {
    #tiny_headertext {
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
    }

    #paragraph {
      font-weight: 300;
      font-size: 18px;
      height: 100px;
      line-height: 32px;
    }

    #mobile_paragraph {
      display: none;
    }
  }

  @media only screen and (min-width:1000px){
    #tiny_headertext {
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
    }

    #paragraph {
      font-weight: 300;
      font-size: 18px;
      height: 128px;
      line-height: 32px;
      /* or 178% */
    }

    #mobile_paragraph {
      display: none;
    }
  }

  @media only screen and (min-width:1300px){
    #tiny_headertext {
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
    }

    #paragraph {
      font-weight: 300;
      font-size: 18px;
      height: 128px;
      line-height: 32px;
      /* or 178% */
    }

    #mobile_paragraph {
      display: none;
    }
  }
}

h2 {
  font-family: "Playfair Display";
  font-style: normal;
  color: #000000;
  margin: 0;
  margin-top: 0;
  font-weight: 700;

  @media only screen and (max-width: 599px) {
    font-size: 32px;
    line-height: 43px;
  }

  @media only screen and (min-width: 600px) {
    font-size: 42px;
    line-height: 53px;
  }

  @media only screen and (min-width: 1000px) {
    font-size: 50px;
    line-height: 65px;
  }

  @media only screen and (min-width: 1300px) {
    font-size: 60px;
    line-height: 80px;
  }
}
