@font-face {
  font-display: swap;
  font-family: "Playfair Display";
  font-style: normal;
  src: url("./fonts/Playfair_Display/static/PlayfairDisplay-Bold.ttf") format("woff");
}

@font-face {
  font-display: swap;
  font-family: PoppinsL;
  font-style: normal;
  src: url("./fonts/Poppins/Poppins-Light.ttf") format("woff");
}

@font-face {
  font-display: swap;
  font-family: PoppinsM;
  font-style: normal;
  src: url("./fonts/Poppins/Poppins-Medium.ttf") format("woff");
}

.ingredients-name {
  color: var(--color-heading);
  font-family: var(--font-family-heading);
  font-size: 18px;
  line-height: 17px;
}

.list-tolur {
  p {
    color: #e3cdb1;
    font-family: var(--font-family-heading);
    font-size: 36px;
    line-height: 18px;
  }
}

.list-ord {
  p {
    color: #9b9b9b;
    font-family: var(--font-family-base);
    font-size: 18px;
    line-height: 17px;
  }
}

.method {
  p {
    color: #5e5b69;
    font-family: var(--font-family-base);
    font-size: 18px;
    line-height: 32px;
  }
}

.latest-recipes-section {
  p {
    color: var(--warm-color);
  }

  h2 {
    color: var(--color-heading-soft);
  }

  strong {
    color: var(--color-heading);
  }
}

.video-section {
  p {
    color: var(--warm-color);
  }

  h2 {
    color: var(--color-heading-soft);
  }

  strong {
    color: var(--color-heading);
  }
}

.latest-recipes-section .heading {
  display: flex;
  
  justify-content: space-between;
}

.latest-recipes-section .heading .content{
  p{
    color:var(--warm-color);
  }
  h2{
      color:var(--color-heading);
    }
  
}
