@font-face {
    font-display: swap;
    font-family: 'Playfair Display';
    font-style: normal;
    src: url('./fonts/Playfair_Display/static/PlayfairDisplay-Bold.ttf') format('woff');
  }
  
  @font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-style: normal;
    src: url('./fonts/Poppins/Poppins-Light.ttf') format('woff');
  }

  @font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-style: normal;
    src: url('./fonts/Poppins/Poppins-Medium.ttf') format('woff');
  }
  