footer {
  background-color: #ffffff;
  height: 261px;
  display: flex;
  flex-direction: column;
  margin: auto;
}

#footer_texti {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 17px;
  /* identical to box height, or 94% */

  display: flex;
  align-items: center;
  justify-content: center;
  color: #000000;
  padding-top: 103px;
}

#footer_logo {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height */

  display: flex;
  align-items: flex-end;
  letter-spacing: -0.291667px;
  justify-content: center;

  color: #d0d0d0;

  padding-bottom: 30px;
}

.footer-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;

  .icon {
    display: flex;
    margin: 10px;
    border: 1px solid #e3cdb1;
    border-radius: 100%;
  
    .img {
      margin: auto;
      width: 20px;
      height: 20px;
      padding: 11px;
    }
  }
  
}

