/* stylelint-disable font-family-no-missing-generic-family-keyword */
/* https://www.w3schools.com/css/tryit.asp?filename=trycss_mediaqueries_navbar */

/* https://www.youtube.com/watch?v=x_VYl7zz1XY */

/* mobile */

@media (max-width: 600px) {
  header {
    display: block;
    position: fixed;
    width: 100vw;
    height: 80px;
    background-color: #fff;
    top: 0;

    .header-logo {
      width: 133px;
      height: 25px;
      max-width: 133px;
    }

    h1 {
      display: none;
    }
  }

  label {
    display: flex;
    justify-content: space-between;
    margin: var(--vertical-space) auto;
    max-width: var(--max-width);
    width: calc(100% - 2 * var(--offset));

    .mobile-button {
      display: grid;
      flex-direction: right;

      span {
        height: 2px;
        width: 30px;
        border-radius: 100px;
        background: #000;
        display: block;
        transition: transform 0.3s ease-in-out;
        position:relative;
      

        .header-trigger:checked ~ &:first-child {
        transform: rotate(45deg);
        top: 8px;
        position:relative;
      }
      .header-trigger:checked ~ &:last-child {
        transform: rotate(-45deg);
        top: -8px;
        position:relative;
      }
      .header-trigger:checked ~ &:nth-child(2) {
        opacity: 0;
      }
    }
  }
    nav {
      background: #fafafa;
      width: 100vw;
      padding: 20px 70px;
      margin-top: 50px;
      position: absolute;
      right: -1000px;
      box-sizing: border-box;
      transition: right 0.3s ease-in-out;

      ul {
        display: flex;
        flex-direction: column;
        list-style-type: none;
        align-items: center;

        .nav-divider {
          width: 290px;
          height: 1px;
          background-color: #f7f1eb;
        }

        :first-child {
          opacity: 1;
        }

        li {
          padding-bottom: var(--gutter);

          a {
            font-family: "Playfair_Display", normal;
            font-weight: 700;
            font-size: 60px;
            line-height: 60px;
            text-decoration: none;
            color: #000000;
          }
        }
      }
    }
  }
}

.header-trigger:checked ~ nav {
  right: 0;
  transition: right 0.3s ease-in-out;
}

.header-trigger {
  display: none;
}

/* Desktop */
@media (min-width: 601px) {
  .header-trigger {
    display: none;
    opacity: 0;
  }

  header {
    display: block;
    position: fixed;
    width: 100vw;
    height: 80px;
    background-color: #fff;
    top: 0;

    label {
      display: flex;
      justify-content: space-between;
      margin: var(--vertical-space) auto;
      max-width: var(--max-width);
      width: calc(100% - 2 * var(--offset));

      .header-logo {
        width: 133px;
        height: 25px;
        max-width: 133px;
      }

      h1 {
        display: none;
      }

      nav {
        display: grid;
        flex-direction: right;

        ul {
          list-style-type: none;
          display: flex;

          > :first-child {
            display: none;
            opacity: 0;
          }

          li {
            flex-direction: column;
            margin-left: var(--gutter);
            margin-right: var(--gutter);

            a {
              text-decoration: none;
              font-family: "Poppins";
              font-style: normal;
              font-weight: 400;
              font-size: 15px;
              line-height: 2px;
              color: #9b9b9b;
            }
          }
        }
      }
    }
  }
}
