/* mobile */

@media (max-width: 600px) {
  header {
    background-color: var(--newsletter-color);
    display: block;
    height: 80px;
    position: fixed;
    top: 0;
    width: 100vw;

    .header-logo {
      height: 25px;
      max-width: 133px;
      width: 133px;
    }

    h1 {
      display: none;
    }
  }

  label {
    display: flex;
    justify-content: space-between;
    margin: var(--vertical-space) auto;
    max-width: var(--max-width);
    width: calc(100% - 2 * var(--offset));
  }

  nav > ul {
    .nav-divider {
      background-color: var(--nav-divider-color);
      height: 1px;
      width: 290px;
    }

    :first-child {
      opacity: 1;
    }
  }

  label > nav {
    background: var(--background);
    box-sizing: border-box;
    margin-top: 50px;
    padding: 20px 70px;
    position: absolute;
    right: -1000px;
    transition: right 0.3s ease-in-out;
    width: 100vw;

    ul {
      align-items: center;
      display: flex;
      flex-direction: column;
      list-style-type: none;
    }
  }

  nav > ul li {
    padding-bottom: var(--gutter);
  }

  .nav-links {
    color: var(--color-heading);
    font-family: var(--font-family-heading);
    font-size: 60px;
    font-weight: 700;
    line-height: 60px;
    text-decoration: none;
  }

  .mobile-button {
    display: grid;

    span {
      background: var(--color-heading);
      border-radius: 100px;
      display: block;
      height: 2px;
      position: relative;
      transition: transform 0.3s ease-in-out;
      width: 30px;
    }
  }

  .header-trigger:checked ~ .mobile-button :first-child {
    position: relative;
    top: 8px;
    transform: rotate(45deg);
  }

  .header-trigger:checked ~ .mobile-button :last-child {
    position: relative;
    top: -8px;
    transform: rotate(-45deg);
  }

  .header-trigger:checked ~ .mobile-button :nth-child(2) {
    opacity: 0;
  }

  .header-trigger:checked ~ nav {
    right: 0;
    transition: right 0.3s ease-in-out;
  }

  .header-trigger {
    display: none;
  }
}

/* Desktop */
@media (min-width: 601px) {
  .header-trigger {
    display: none;
    opacity: 0;
  }

  header {
    background-color: var(--newsletter-color);
    display: block;
    height: 80px;
    position: fixed;
    top: 0;
    width: 100vw;
  }

  header > label {
    display: flex;
    justify-content: space-between;
    margin: var(--vertical-space) auto;
    max-width: var(--max-width);
    width: calc(100% - 2 * var(--offset));

    .header-logo {
      height: 25px;
      max-width: 133px;
      width: 133px;
    }

    h1 {
      display: none;
    }

    nav {
      display: grid;
      flex-direction: right;
    }
  }

  label > nav ul {
    display: flex;
    list-style-type: none;
  }

  nav > ul > :first-child {
    display: none;
    opacity: 0;
  }

  label ul > li {
    flex-direction: column;
    margin-left: var(--gutter);
    margin-right: var(--gutter);
  }

  .nav-links {
    color: var(--nav-link-color);
    font-family: var(--font-family-base);
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 2px;
    text-decoration: none;
  }
}
