.hero-section {
  background-color: var(--background-offwhite);
  background-image: url("img/cake.png");
  background-position: bottom right;
  background-repeat: no-repeat;
  display: flex;
  //width: 889.76px;
  height: 100%;
  width: 100%;
  max-width: var(--max-width);
}

.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 232px;
  margin-left: 157px;
  width: 550px;


.hero-text {
  .our-latest-recipe {
    color: var(--warm-color);
    font-weight: 500;
    line-height: 1.5rem;
    margin-top: 147px;
  }

  .pumkin-texti {
    font-size: 18px;
    font-weight: 300;
    height: 128px;
    line-height: 32px;

    /* or 178% */
    margin: 0;
  }
}


h2 {
  font-size: 60px;
  line-height: 80px;

  /* identical to box height */
}

button {
  background: var(--background-offwhite);
  border: 1px solid var(--warm-color);
  text-align: center;
  text-decoration: none;
  text-decoration-color: var(--warm-color);
}
