.hero-section {
  background-color: #fafafa;
  background-image: url("img/cake.png");
  background-repeat: no-repeat;
  display: flex;
  height: 700px;
  margin: 0 auto;
  max-width: var(--max-width);
  width: 100%;

  @media only screen and (max-width: 500px) {
    background-position: 15% 95%;
    background-size: 226%;
    height: 500px;
  }

  @media only screen and (min-width: 501px) {
    background-position: 18% 65%;
    background-size: 151%;
  }

  @media only screen and (min-width: 650px) {
    background-position: 105% 95%;
    background-size: 93%;
  }

  @media only screen and (min-width: 1000px) {
    background-position: 100% 95%;
    background-size: 59%;
  }

  @media only screen and (min-width: 501px) {
    background-position: 18% 65%;
    background-size: 151%;
  }

  @media only screen and (min-width: 650px) {
    background-position: 105% 95%;
    background-size: 93%;
  }

  @media only screen and (min-width: 1000px) {
    background-position: 100% 95%;
    background-size: 59%;
  }

  &--video {
    background-image: linear-gradient(90deg, black 40%, transparent 80%),
      url("img/Video.png");
    background-position: right;
    background-size: contain;
  }
}

.hero-text {
  display: flex;
  flex-direction: column;

  h2 {
    color: #000;
    font-family: "Playfair Display";

    @media only screen and (max-width: 320px) {
      font-size: 32px;
      line-height: 43px;
      margin: 0 auto;
      margin-bottom: 17px;
    }

    @media only screen and (min-width: 321px) {
      font-size: 42px;
      line-height: 80px;
      margin: 0 auto;
      /* identical to box height */
    }

    @media only screen and (min-width: 650px) {
      font-size: 60px;
      line-height: 80px;
      margin: 0;
      /* identical to box height */
    }
  }

  .video-h2 {
    color: #fff;
  }

  p {
    display: flex;
    font-family: "Poppins";
    font-style: normal;
  }

  @media only screen and (max-width: 650px) {
    margin: 0 auto;
    margin-top: 71.66px;
  }

  @media only screen and (min-width: 651px) {
    justify-content: center;
    margin-bottom: 232px;
    margin-left: 10%;
    margin-top: 147px;
    width: 550px;
  }

  .our-latest-recipe {
    color: #e3cdb1;
    font-weight: 500;
    @media only screen and (max-width: 650px) {
      font-size: 12px;
      font-weight: 500;
      line-height: 18px;
      margin: 0 auto;
    }

    @media only screen and (min-width: 651px) {
      font-size: 16px;
      line-height: 24px;
      margin: 0;
    }

    &--video{
      color: #9B9B9B;
    }
  }

  .pumkin-texti {
    @media only screen and (max-width: 500px) {
      display: none;
    }

    @media only screen and (min-width: 501px) {
      color: #5e5b69;
      font-size: 18px;
      font-weight: 300;
      height: 128px;
      line-height: 32px;
      margin: 2rem;
      /* or 178% */
      text-align: center;
    }

    @media only screen and (min-width: 650px) {
      color: #5e5b69;
      font-size: 18px;
      font-weight: 300;
      height: 128px;
      line-height: 32px;
      margin: 0;
      /* or 178% */
      text-align: inherit;
    }
  }

  .mobile-pumkintext {
    @media only screen and (max-width: 650px) {
      display: none;
    }
    @media only screen and (min-width: 651px) {
      color: #5e5b69;
      font-size: 18px;
      font-weight: 300;
      height: 128px;
      line-height: 32px;
      margin: 0;
      /* or 178% */
      text-align: inherit;
    }
  }

  .mobile-pumkin {
    @media only screen and (max-width: 650px) {
      font-family: "Poppins";
      font-size: 15px;
      line-height: 24px;
      margin-bottom: 27px;
      margin-left: 30px;
    }

    @media only screen and (min-width: 651px) {
      display: none;
    }
  }
}

.hero-info {
  display: flex;
  margin: 0;
  margin-bottom: 35px;

  @media only screen and (max-width: 500px) {
    flex-direction: column;
    margin-left: 30px;
  }

  @media only screen and (min-width: 501px) {
    flex-direction: row;
    margin-left: 30px;
  }

  @media only screen and (min-width: 650px) {
    margin-left: 0;
  }

  &--video{
    p{
      color: #fff;
    }
  }

  p {
    font-size: 18px;
    margin-right: 35px;
  }

  img {
    margin-right: 13px;
  }
}
