#hero-section {
  background-image: url("myndir/cake.png");
  background-repeat: no-repeat;
  background-position: bottom right;
  width: 889.76px;
  background-color: #fafafa;
  height: 100vh;

  display: flex;
  width: 100%;
  max-width: 1600px;
  margin: auto;
}

.hero_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 550px;
  margin-left: 157px;
  margin-bottom: 232px;
}

p {
  font-family: "Poppins";
  font-style: normal;
  display: flex;
}

.hero_text {
  #tiny_headertext {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #e3cdb1;
    margin-top: 147px;
  }

  #paragraph {
    font-weight: 300;
    font-size: 18px;
    height: 128px;
    line-height: 32px;
    /* or 178% */
    margin: 0;
    color: #5e5b69;
  }
}

h2 {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 80px;
  margin: 0;
  margin-top: 0;
  /* identical to box height */
  color: #000000;
}

button {
  background: #fafafa;
  text-decoration: none;
  border: 1px solid #e3cdb1;
  text-align: center;
  text-decoration-color: #e3cdb1;
}
