.hero-section {
  background-color: var(--background-offwhite);
  background-image: url("img/cake.png");
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
  justify-content: center;
  margin: 0 auto;
  min-width: 100vw;

  @media screen and (max-width: 900px) {
    background-position: center;
    background-size: cover;
  }
}

.hero-text {
  color: var(--color-text);

  @media only screen and (max-width: 650px) {
    margin: 0 auto;
    margin-top: 32%;
  }

  @media only screen and (min-width: 651px) {
    justify-content: center;
    width: 550px;
  }
}

.hero-text h2 {
  color: var(--color-heading);
  font-family: var(--font-family-heading);

  @media only screen and (max-width: 320px) {
    font-size: 32px;
    margin: 0 auto;
    margin-bottom: 17px;
  }

  @media only screen and (min-width: 321px) {
    font-size: 42px;
    margin: 0 auto;
  }

  @media only screen and (min-width: 650px) {
    font-size: 60px;
    margin: 0;
  }
}

.hero-text p {
  display: flex;
  font-family: var(--font-family-base);
  word-wrap: break-word;
}

.hero-text .our-latest-recipe {
  color: var(--warm-color);

  @media only screen and (max-width: 650px) {
    font-size: 12px;
    margin: 0 auto;
  }

  @media only screen and (min-width: 651px) {
    font-size: 16px;
    margin: 0;
  }
}

.hero-text .pumkin-texti {
  @media only screen and (max-width: 500px) {
    display: none;
  }

  @media only screen and (min-width: 501px) {
    color: var(--color-text);
    font-size: 18px;
    height: 128px;
    margin: 2rem;
    text-align: center;
  }

  @media only screen and (min-width: 650px) {
    margin: 0;
    text-align: inherit;
  }
}

.hero-text .mobile-pumkintext {
  @media only screen and (max-width: 650px) {
    display: none;
  }

  @media only screen and (min-width: 651px) {
    color: var(--color-text);
    font-size: 18px;
    height: 128px;
    text-align: inherit;
  }
}

.hero-text .mobile-pumkin {
  @media only screen and (max-width: 650px) {
    font-size: 15px;
    margin-bottom: 27px;
    margin-left: 30px;
  }

  @media only screen and (min-width: 651px) {
    display: none;
  }
}

.hero-info {
  margin-bottom: 35px;
  margin-top: 15px;

  @media only screen and (max-width: 500px) {
    margin-left: 30px;
  }

  @media only screen and (min-width: 501px) {
    margin-left: 30px;
  }

  @media only screen and (min-width: 650px) {
    margin-left: 0;
  }

  p {
    font-size: 18px;
    margin-right: 35px;
  }

  strong {
    color: var(--color-heading);
    font-family: var(--font-family-base);
    margin-left: 15px;
    margin-right: 5px;
  }

  img {
    margin-right: 13px;
  }
}
