.hero-section-video {
  background-image: linear-gradient(
      90deg,
      var(--color-heading) 40%,
      transparent 80%
    ),
    url("img/Video.png");
  background-position: right;
  background-size: contain;
}

.hero-text {
  grid-column: 2 / span 6;

  @media only screen and (max-width: 650px) {
    margin: 0 auto;
    margin-top: 32%;
  }

  @media only screen and (min-width: 651px) {
    margin-top: 20%;
    width: 550px;
  }
}

.hero-text .video-h2 {
  color: var(--newsletter-color);
  font-family: var(--font-family-heading);
}

.hero-text .mobile-pumkintext-video {
  @media only screen and (max-width: 650px) {
    display: none;
  }

  @media only screen and (min-width: 651px) {
    color: var(--color-text-month);
    font-size: 18px;
    height: 128px;
    margin: 0;
    text-align: inherit;
  }
}

.hero-text .mobile-pumkin-video {
  @media only screen and (max-width: 650px) {
    color: var(--nav-link-color);
    font-size: 15px;
    line-height: 24px;
    margin-bottom: 27px;
    margin-left: 30px;
  }

  @media only screen and (min-width: 651px) {
    display: none;
  }
}

.hero-info-video {
  margin: 0;
  margin-bottom: 35px;

  @media only screen and (max-width: 500px) {
    flex-direction: column;
    margin-left: var(--gutter);
  }

  @media only screen and (min-width: 501px) {
    flex-direction: row;
    margin-left: var(--gutter);
    margin-top: 15px;
  }

  @media only screen and (min-width: 650px) {
    margin-left: 0;
  }
}

.hero-info-video p {
  color: var(--newsletter-color);
  margin-right: 35px;
}

.hero-info-video strong {
  color: var(--newsletter-color);
  font-family: var(--font-family-base);
  margin-left: 15px;
  margin-right: 5px;
}

.video-icon {
  border: 2px solid var(--newsletter-color);
  border-radius: 100%;
  display: flex;
  grid-column: 7 / span 2;
  justify-content: center;
  margin-top: 250px;

  .playbutton {
    cursor: pointer;
    margin: 0 auto;
    padding: 60px;
  }
}
