.hero-section-video {
  background-image:
    linear-gradient(
      90deg,
      var(--color-heading) 40%,
      transparent 80%
    ),
    url("img/Video.png");
  background-position: right;
  background-size: cover;
  height: 570px;

  @media only screen and (max-width: 650px) {
    background-image: linear-gradient(0deg, transparent 20%, var(--color-heading) 52%), url("img/Video.png");
  }

  .hero-text {
    grid-column: 2 / span 4;

    @media only screen and (max-width: 650px) {
      display: flex;
      flex-direction: column;
      margin: 0 auto;
    }

    @media only screen and (min-width: 651px) {
      width: 550px;
    }
  }

  .hero-text .video-h2 {
    color: var(--newsletter-color);
    font-family: var(--font-family-heading);
  }

  .hero-text .mobile-pumkintext-video {
    @media only screen and (max-width: 650px) {
      display: none;
    }

    @media only screen and (min-width: 651px) {
      color: var(--color-text-month);
      font-size: 18px;
      height: 128px;
      margin: 0;
      text-align: inherit;
    }
  }

  .hero-text .mobile-pumkin-video {
    @media only screen and (max-width: 650px) {
      color: var(--nav-link-color);
      font-size: 15px;
      line-height: 24px;
      margin-bottom: 27px;
    }

    @media only screen and (min-width: 651px) {
      display: none;
    }
  }

  .hero-info-video {
    margin: 0;
    margin-bottom: 35px;

    @media only screen and (max-width: 500px) {
      flex-direction: column;
      justify-content: space-between;
      margin-bottom: 5%;
      min-height: 40%;
    }

    @media only screen and (min-width: 501px) {
      flex-direction: row;
      margin-left: var(--gutter);
      margin-top: 15px;
    }

    @media only screen and (min-width: 650px) {
      margin-left: 0;
    }
  }

  .hero-info-video p {
    color: var(--newsletter-color);
    margin-right: 35px;
  }

  .hero-info-video strong {
    color: var(--newsletter-color);
    font-family: var(--font-family-base);
    margin-left: 15px;
    margin-right: 5px;
  }

  .video-icon-section {
    align-items: center;
    display: flex;
    grid-column: 7 / span 2;

    @media (min-width: 651px) and (max-width: 1200px) {
      margin-left: 10%;
    }
  }

  .video-icon {
    border: 2px solid var(--newsletter-color);
    border-radius: 100%;
    //  display: flex;
    //   grid-column: 7 / span 2;
    //   justify-content: center;
    //    margin-top: 170%;

    @media only screen and (max-width: 650px) {
      margin: 0;
      //    margin-left: 38%;
      //    margin-right: 38%;
    }
  }

  .video-icon .playbutton {
    cursor: pointer;
    margin: 0 auto;
    margin: 60px;

    @media (max-width: 1200px) {
      margin: 45px;
    }

    @media only screen and (max-width: 650px) {
      margin: 30px;
    }
  }
}
