.hero-section {
  background-color: var(--background-offwhite);
  background-image: url("img/cake.png");
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
  height: 700px;
  margin: 0 auto;
  display: grid;
  gap: var(--vertical-space);
  grid-template-columns: repeat(var(--columns-offset), 1fr);
  grid-template-rows: auto;
  height: 700px;
  justify-content: center;
  margin: 0 auto;
  max-width: var(--max-main-width);
  width: 100%;

  @media screen and (max-width: 900px) {
    display: flex;
    background-position: center;
    background-size: cover;
  }
}

.hero-text {
  color: var(--color-text);
  grid-column: 2 / span 6;

  h2 {
    color: var(--color-heading);
    font-family: var(--font-family-heading);

    @media only screen and (max-width: 320px) {
      font-size: 32px;
      //line-height: 43px;
      margin: 0 auto;
      margin-bottom: 17px;
    }

    @media only screen and (min-width: 321px) {
      font-size: 42px;
      //line-height: 80px;
      margin: 0 auto;
    }

    @media only screen and (min-width: 650px) {
      font-size: 60px;
      //line-height: 80px;
      margin: 0;
    }
  }

  p {
    display: flex;
    font-family: var(--font-family-base);
    word-wrap: break-word;
  }

  @media only screen and (max-width: 650px) {
    margin: 0 auto;
    margin-top: 32%;
  }

  
  @media only screen and (min-width: 651px) {
    justify-content: center;
    //margin-bottom: 232px;
    //margin-left: 10%;
    //margin-top: 147px;
    width: 550px;
  }
  

  .our-latest-recipe {
    color: var(--warm-color);
    font-weight: 500;

    @media only screen and (max-width: 650px) {
      font-size: 12px;
      font-weight: 500;
      //line-height: 18px;
      margin: 0 auto;
    }

    @media only screen and (min-width: 651px) {
      font-size: 16px;
      //line-height: 24px;
      margin: 0;
    }
  }

  .pumkin-texti {
    @media only screen and (max-width: 500px) {
      display: none;
    }

    @media only screen and (min-width: 501px) {
      color: var(--color-text);
      font-size: 18px;
      font-weight: 300;
      height: 128px;
      line-height: 32px;
      margin: 2rem;
      text-align: center;
    }

    @media only screen and (min-width: 650px) {
      color: var(--color-text);
      font-size: 18px;
      font-weight: 300;
      height: 128px;
      line-height: 32px;
      margin: 0;
      text-align: inherit;
    }
  }

  .mobile-pumkintext {
    @media only screen and (max-width: 650px) {
      display: none;
    }

    @media only screen and (min-width: 651px) {
      color: var(--color-text);
      font-size: 18px;
      font-weight: 300;
      height: 128px;
      line-height: 32px;
      margin: 0;
      text-align: inherit;
    }
  }

  .mobile-pumkin {
    @media only screen and (max-width: 650px) {
      font-size: 15px;
      line-height: 24px;
      margin-bottom: 27px;
      margin-left: 30px;
    }

    @media only screen and (min-width: 651px) {
      display: none;
    }
  }
}

.hero-info {
  margin-bottom: 35px;
  margin-top: 15px;

  @media only screen and (max-width: 500px) {
    margin-left: 30px;
  }

  @media only screen and (min-width: 501px) {
    margin-left: 30px;
  }

  @media only screen and (min-width: 650px) {
    margin-left: 0;
  }

  p {
    font-size: 18px;
    margin-right: 35px;
  }

  strong {
    color: var(--color-heading);
    font-family: var(--font-family-base);
    margin-left: 15px;
    margin-right: 5px;
  }

  img {
    margin-right: 13px;
  }
}
