#hero-section {
  background-image: url("myndir/cake.png");
  background-repeat: no-repeat;
  background-position: bottom right;
  background-color: #fafafa;
  height: 100%;

  display: flex;
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;

  @media only screen and (max-width: 500px){
    height: 560px;
  }
}

.hero_text {
  display: flex;
  flex-direction: column;

  p {
    font-family: "Poppins";
    font-style: normal;
    display: flex;
  }

  @media only screen and (max-width: 320px) {
    margin: 0 auto;
    margin-top: 71.66px;
  }

  @media only screen and (min-width: 321px) {
    width: 550px;
    margin-left: 10%;
    margin-bottom: 232px;
    margin-top: 147px;
    justify-content: center;
  }

  #our_latest_recipe {
    font-weight: 500;
    color: #e3cdb1;

    @media only screen and (max-width: 320px) {
      font-weight: 500;
      font-size: 12px;
      line-height: 18px;
      margin: 0 auto;
    }

    @media only screen and (min-width: 321px) {
      font-size: 16px;
      line-height: 24px;
      margin: 0;
    }
  }

  h2 {
    font-family: "Playfair Display";
    font-style: normal;
    font-weight: 700;
    color: #000000;

    @media only screen and (max-width: 320px) {
      font-size: 32px;
      line-height: 43px;
      margin: 0 auto;
      margin-bottom: 17px;
    }

    @media only screen and (min-width: 321px) {
      font-size: 60px;
      line-height: 80px;
      margin: 0;
      /* identical to box height */
    }
  }

  #pumkin_texti {
    @media only screen and (max-width: 320px) {
      display: none;
    }

    @media only screen and (min-width: 321px) {
      font-weight: 300;
      font-size: 18px;
      height: 128px;
      line-height: 32px;
      /* or 178% */
      margin: 0;
      color: #5e5b69;
    }
  }
}