.i-m {
  height: 100%;
  margin: 0 auto;
  margin-bottom: 180px;
  max-width: var(--max-width);
  width: 100%;

  @media only screen and (max-width: 320px) {
    margin-bottom: 0;
  }
}

.ingredients {
  width: 100%;
  grid-column: span 4;

  h2 {
    color: #d0d0d0;
    font-family: var(--font-family-heading);
    font-size: 40px;
    line-height: 53px;
  }
}

.ingredients-name {
  margin-bottom: var(--offset);
  margin-top: 2.5rem;
}

.ingredients-list {
  display: flex;
  flex-direction: row;
  margin: auto;

  .list-tolur {
    display: flex;
    flex-direction: column;
    margin-right: 50px;
  }

  .list-ord {
    display: flex;
    flex-direction: column;
  }

  p {
    margin-bottom: var(--offset);
  }
}

.method {
  grid-column: span 8;
  h2 {
    color: #d0d0d0;
    font-family: var(--font-family-heading);
    font-size: 2.5rem;
    line-height: 53px;
    margin-bottom: 2.5rem;
  }

  p {
    margin-bottom: var(--spacing);
    word-wrap: break-word;
  }
}

.not-in-mobile {
  @media only screen and (max-width: 500px) {
    display: none;
  }
}
