.i_m {
  display: flex;
  margin: 0 auto;
  margin-bottom: 180px;
  h2 {
    margin-bottom: 40px;
  }

  @media only screen and (max-width: 700px){
    flex-direction: column;
  }

}

.ingredients {
  width: 100%;

  .ingredients_name {
    margin-bottom: 20px;
  }

  .ingredients_list {
    display: flex;
    flex-direction: row;
    margin: auto;

    .list_tolur {
      display: flex;
      flex-direction: column;
      margin-right: 50px;
      p {
        margin-bottom: 20px;
      }

    }

    .list_ord {
      display: flex;
      flex-direction: column;
      /* or 94% */
      p {
        margin-bottom: 20px;
      }
    }
  }
}
.method {
  p {
    margin-bottom: 1rem;
    word-wrap: break-word;

    .not_in_mobile{
      @media only screen and (max-width: 320px){
        display: none;
      }
    }
  }
}

.i_m{
  h2{
    color: #d0d0d0;
    font-family: "Playfair Display";
    font-size: 40px;
    line-height: 53px;
  }
}

.ingredients {
  .ingredients_name {
    color: #000000;
    font-family: "Poppins";
    font-size: 18px;
    line-height: 17px;
  }

  .list_tolur {
    p {
      color: #e3cdb1;
      font-family: "Playfair Display";
      font-size: 36px;
      line-height: 18px;
    }
  }

  .list_ord {
   p{
    color: #9b9b9b;
    font-family: "Poppins";
    font-size: 18px;
    line-height: 17px;
   }
  }
}

.method {
  p {
    color: #5e5b69;
    font-family: "Poppins";
    font-size: 18px;
    line-height: 32px;
  }
}


