.i-m {
  height: 100%;
  margin: 0 auto;
  margin-bottom: 180px;

  @media only screen and (max-width: 320px) {
    margin-bottom: 0px;
  }

  h2 {
    color: #d0d0d0;
    font-family: "Playfair Display";
    font-size: 40px;
    line-height: 53px;
    margin-bottom: 40px;
  }
}

.method {
  p {
    color: #5e5b69;
    font-family: "Poppins";
    font-size: 18px;
    line-height: 32px;
    margin-bottom: 1rem;
    word-wrap: break-word;
  }
}

.list-ord {
  p {
    color: #9b9b9b;
    display: flex;
    flex-direction: column;
    font-family: "Poppins";
    font-size: 18px;
    line-height: 17px;
    margin-bottom: 20px;
  }
}

.list-tolur {
  p {
    color: #e3cdb1;
    display: flex;
    flex-direction: column;
    font-family: "Playfair Display";
    font-size: 36px;
    line-height: 18px;
    margin-bottom: 20px;
    margin-right: 50px;
  }
}

.ingredients {
  width: 100%;

  .ingredients-name {
    color: #000;
    font-family: "Poppins";
    font-size: 18px;
    line-height: 17px;
    margin-bottom: 20px;
  }

  .ingredients-list {
    display: flex;
    flex-direction: row;
    margin: auto;
  }
}


.not-in-mobile {
  @media only screen and (max-width: 500px) {
    display: none;
  }
}

