.latest-recipes-section {
  //gap: var(--vertical-space);
  grid-template-rows: auto;
  //max-width: 1300px;
  //justify-content: center; margin: 2rem;
  margin: 0 auto;
  margin-top: 2rem;
  max-width: 1600px;
  width: 100%;

  @media only screen and (max-width: 599px) {
    background-image: linear-gradient(0deg, var(--background-offwhite) 90%, var(--newsletter-color) 90%);
  }

  @media only screen and (min-width: 600px) {
    background-image: linear-gradient(0deg, var(--background-offwhite) 80%, var(--newsletter-color) 80%);
  }

  @media only screen and (min-width: 900px) {
    background-image: linear-gradient(0deg, var(--background-offwhite) 66%, var(--newsletter-color) 66%);
  }

  .button-container {
    display: flex;
    justify-content: center;
    margin: 2rem auto;
  }
}

#all-recipes {
  @media only screen and (max-width: 599px) {
    background-image: linear-gradient(0deg, var(--background-offwhite) 96%, var(--newsletter-color) 96%);
  }

  @media only screen and (min-width: 600px) {
    background-image: linear-gradient(0deg, var(--background-offwhite) 93%, var(--newsletter-color) 93%);
  }

  @media only screen and (min-width: 900px) {
    background-image: linear-gradient(0deg, var(--background-offwhite) 90%, var(--newsletter-color) 90%);
  }
}

.latest-recipes-section .heading {
  @media (max-width: 599px) {
    display: grid;
    gap: calc(var(--vertical-space) / 2);
    grid-template-columns: repeat(calc(var(--columns-offset) * 2), 1fr);
  }

  @media (min-width: 600px) {
    display: grid;
    gap: var(--gutter);
    gap: calc(var(--vertical-space) / 2);
    grid-template-columns: repeat(calc(var(--columns-offset) * 2), 1fr);
  }

  @media (min-width: 900px) {
    gap: var(--vertical-space);
    grid-template-columns: repeat(var(--columns-offset), 1fr);
  }

  .content {
    grid-column: 2 / span 5;
    min-width: max-content;

    @media (min-width: 600px) {
      grid-column: 2 / span 4;
    }

    @media (min-width: 900px) {
      grid-column: 2 / span 3;
    }
  }

  .filters {
    grid-column: 7 / span 15;
    justify-self: end;
    max-width: 7rem;
    min-width: 7rem;

    @media (min-width: 600px) {
      font-size: var(--font-base-body-px);
      max-width: none;
      min-width: max-content;
    }

    @media (min-width: 900px) {
      font-size: calc(calc(22/16) * 1rem);
      grid-column: 5 / span 6;
    }
  }
}

@media (min-width: 600px) {
  .latest-recipes-section {
    margin: 2rem 0;
  }
}

@media (min-width: 900px) {
  .latest-recipes-section {
    margin: 2rem 0;
  }
}
