.latest-recipes-section {
  //gap: var(--vertical-space);
  grid-template-rows: auto;
  margin: 0 auto;
  margin-top: 2rem;
  max-width: 1600px;
  width: 100%;
  //max-width: 1300px;
  //justify-content: center; margin: 2rem;
  margin: 0 auto;
  margin-top: 2rem;
  max-width: 1600px;

  @media only screen and (max-width: 599px) {
    background-image: linear-gradient(0deg, var(--background-offwhite) 90%, var(--newsletter-color) 90%);
  }

  @media only screen and (min-width: 600px) {
    background-image: linear-gradient(0deg, var(--background-offwhite) 80%, var(--newsletter-color) 80%);
  }

  @media only screen and (min-width: 900px) {
    background-image: linear-gradient(0deg, var(--background-offwhite) 66%, var(--newsletter-color) 66%);

  }

  .button-container {
    display: flex;
    justify-content: center;
    margin: 2rem auto;
  }
}

#all-recipes {
  @media only screen and (max-width: 599px) {
    background-image: linear-gradient(0deg, var(--background-offwhite) 96%, var(--newsletter-color) 96%);
  }

  @media only screen and (min-width: 600px) {
    background-image: linear-gradient(0deg, var(--background-offwhite) 93%, var(--newsletter-color) 93%);
  }

  @media only screen and (min-width: 900px) {
    background-image: linear-gradient(0deg, var(--background-offwhite) 90%, var(--newsletter-color) 90%);
  }
}

.latest-recipes-section .heading {
  @media (max-width: 599px) {
      display: grid;
      grid-template-columns: repeat(var(--columns), 1fr);
     // min-width: 250px;
      gap: var(--gutter);
  }
  
  @media (min-width: 600px) {
    gap: var(--gutter);
      display: grid;
      grid-template-columns: repeat(var(--columns), 1fr);
  }
  @media (min-width: 900px) {
    gap: var(--gutter);
      display: grid;
      grid-template-columns: repeat(calc(var(--columns-offset) - 2), 1fr);
  }

  .content {
    grid-column: 2 / span 6;
    min-width: max-content;

    @media (min-width: 370px) {
      grid-column: 2 / span 4;
    }

    @media (min-width: 900px) {
      grid-column: 1 / span 4;
    }
  }

  .filters {
    min-width: 7rem;
    max-width: 7rem;
    grid-column: 8 / span 4;
    justify-self: end;

    @media (min-width: 600px) {
      font-size: var(--font-base-body-px);
      min-width: max-content;
      max-width: none;
    }

    @media (min-width: 900px) {
      font-size: calc(calc(22/16) * 1rem);
      grid-column: 5 / span 5;
    }
  }
}

@media (min-width: 600px) {
  .latest-recipes-section {
    margin: 2rem 0 2rem;
  }
}

@media (min-width: 900px) {
  .latest-recipes-section {
    margin: 2rem 0 2rem;
  }
}
