.wrapper {
  display: grid;
  gap: var(--vertical-space);
  grid-template-columns: 100%;
  grid-template-rows: auto;
  margin: 0 auto;
  max-width: 100%;
  max-width: var(max-width);
  min-height: 100%;
  width: 100%;
}

main {
  display: grid;
  gap: var(--vertical-space);
  grid-template-columns: 100%;
  grid-template-rows: auto;
  justify-content: center;
  margin: 0 auto;
  max-width: var(--max-main-width);
  //width: calc(100% - (2 * var(--offset)));
  width: 100%;
}

.latest-recipes-heading-home {
  display: grid;
  gap: var(--vertical-space);
  grid-template-columns: repeat(var(--columns-offset), 1fr);

  @media (min-width: 600px) {
    align-items: flex-start;
  }
}

.i-m {
  display: grid;
  gap: var(--vertical-space);
  grid-template-columns: repeat(var(--columns), 1fr);
  grid-template-rows: auto;
  width: 100%;

  @media only screen and (max-width: 1001px) {
    display: flex;
    flex-direction: column;
  }
}

.ingredients {
  @media only screen and (max-width: 1000px) {
    margin: 0 auto;
    margin-left: 7%;
    margin-right: 7%;
  }

  @media only screen and (min-width: 1001px) {
    grid-column: 2 / span 2;
  }
}

.method {
  @media only screen and (max-width: 1000px) {
    margin: 0 auto;
    margin-left: 7%;
    margin-right: 7%;
  }

  @media only screen and (min-width: 1001px) {
    grid-column: 5 / span 7;
  }
}

.hero-section {
  display: grid;
  height: 700px;
  gap: var(--vertical-space);
  grid-template-columns: repeat(var(--columns-offset), 1fr);
  grid-template-rows: auto;
  max-width: var(--max-main-width);
  width: 100%;

  @media only screen and (max-width: 500px) {
    height: 500px;
  }

  @media screen and (max-width: 900px) {
    background-position: center;
    background-size: cover;
    display: flex;
  }
}

.hero-section .hero-text {
  display: flex;
  flex-direction: column;
  grid-column: 2 / span 6;
}

.hero-section .hero-info {
  display: flex;

  @media only screen and (max-width: 500px) {
    flex-direction: column;
  }

  @media only screen and (min-width: 501px) {
    flex-direction: row;
  }
}

.hero-section-video {
  display: grid;
  gap: var(--vertical-space);
  grid-template-columns: repeat(var(--columns-offset), 1fr);
  grid-template-rows: auto;
  height: 570px;
  max-width: var(--max-width);
  width: 100%;

  @media only screen and (max-width: 900px) {
    display: flex;
    flex-direction: column;
  }
}

.hero-info-video {
  display: flex;

  @media only screen and (max-width: 900px) {
    flex-direction: column;
  }

  @media only screen and (min-width: 501px) {
    flex-direction: row;
  }
}

.cookbook {
  display: flex;
  height: 110%;
  width: 100%;
}

.cookbook-text {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.video-section {
  .button-container {
    display: flex;
    justify-content: center;
    margin: 2rem auto;
  }
}
