wrapper {
    display: grid;
    gap: var(--vertical-space);
    grid-template-columns: 100%;
    grid-template-rows: auto;
    max-width: var(--max-width);
    width: calc(100% - (2 * var(--offset)));
}

main {
    display: grid;
    gap: var(--vertical-space);
    grid-template-columns: 100%;
    grid-template-rows: auto;
    margin: var(--vertical-space) auto;
    max-width: var(--max-width);
    width: calc(100% - (2 * var(--offset)));
  }