wrapper {
  display: grid;
  gap: var(--vertical-space);
  grid-template-columns: 100%;
  grid-template-rows: auto;
  max-width: var(--max-width);
  width: calc(100% - (2 * var(--offset)));
  height: 100vh;
}

main {
  display: grid;
  gap: var(--vertical-space);
  grid-template-columns: 100%;
  grid-template-rows: auto;
  margin: var(--vertical-space) auto;
  max-width: var(--max-width);
  width: calc(100% - (2 * var(--offset)));
}

.i_m{
    display: flex;
    flex-direction: row;

    .ingredients{
        margin-left: 150px;
        margin-top: 90px;
    }

    .method{
        margin-left: 265px;
        margin-top: 90px;
        margin-right: 155px;
    }
}
