.wrapper {
  display: grid;
  gap: var(--vertical-space);
  grid-template-columns: 100%;
  grid-template-rows: auto;
  margin: 0 auto;
  max-width: 100%;
  min-height: 100%;
  width: 100%;
}

main {
  display: grid;
  gap: var(--vertical-space);
  grid-template-columns: 100%;
  grid-template-rows: auto;
  margin: var(--vertical-space) auto;
  max-width: var(--max-width);
  width: calc(100% - (2 * var(--offset)));
}

.latest-recipes-section {
  display: grid;
  gap: var(--vertical-space);
  grid-template-rows: auto;
  width: 100%;
}

.i-m {
  display: grid;
  gap: var(--vertical-space);
  grid-template-columns: repeat(var(--columns), 1fr);
  grid-template-rows: auto;
  width: 100%;

  @media only screen and (max-width: 830px) {
    display: flex;
    flex-direction: column;
  }
}

.ingredients {
  @media only screen and (max-width: 831px) {
    margin: 0 auto;
    margin-left: 7%;
    margin-right: 7%;
  }

  @media only screen and (min-width: 1100px) {
    grid-column: 0 / span 6;
  }
}

.method {
  @media only screen and (max-width: 830px) {
    margin: 0 auto;
    margin-left: 7%;
    margin-right: 7%;
  }

  @media only screen and (min-width: 831px) {
    grid-column: 5 / span 7;
    margin-top: 6%;
  }
}

.hero-section {
  display: flex;
  height: 700px;
  max-width: var(--max-width);
  width: 100%;

  @media only screen and (max-width: 500px) {
    height: 500px;
  }
}

.hero-text {
  display: flex;
  flex-direction: column;
}

.hero-info {
  display: flex;

  @media only screen and (max-width: 500px) {
    flex-direction: column;
  }

  @media only screen and (min-width: 501px) {
    flex-direction: row;
  }
}

.hero-section-video {
  display: flex;
  flex-direction: row;
  height: 110%;
  max-width: var(--max-width);
  width: 100%;
}

.hero-info-video {
  display: flex;

  @media only screen and (max-width: 500px) {
    flex-direction: column;
  }

  @media only screen and (min-width: 501px) {
    flex-direction: row;
  }
}

.cookbook {
  display: flex;
  height: 110%;
  width: 100%;
}

.cookbook-text {
  display: flex;
  flex-direction: column;
  width: 50%;
}
