.wrapper {
  display: grid;
  gap: var(--vertical-space);
  grid-template-columns: 100%;
  grid-template-rows: auto;
  height: 100vh;
  max-width: 100%;
  width: 100%;
}

main {
  display: grid;
  gap: var(--vertical-space);
  grid-template-columns: 100%;
  grid-template-rows: auto;
  margin: var(--vertical-space) auto;
  max-width: var(--max-width);
  width: calc(100% - (2 * var(--offset)));
}

.i-m {
  display: flex;

  @media only screen and (max-width: 830px) {
    flex-direction: column;
  }

  @media only screnn and (min-width: 831px) {
    flex-direction: row;
  }
}

.ingredients {
  @media only screen and (max-width: 831px) {
    margin: 0 auto;
    margin-left: 7%;
    margin-right: 7%;
  }

  @media only screen and (min-width: 830px) {
    margin-left: 9%;
    margin-right: 9%;
    margin-top: 6%;
  }

  @media only screen and (min-width: 1100px) {
    margin: 0;
    margin-left: 13%;
    margin-top: 6%;
  }
}

.method {
  @media only screen and (max-width: 830px) {
    margin: 0 auto;
    margin-left: 7%;
    margin-right: 7%;
  }

  @media only screen and (min-width: 831px) {
    margin-right: 9%;
    margin-top: 6%;
  }
}
