wrapper {
  display: grid;
  gap: var(--vertical-space);
  grid-template-columns: 100%;
  grid-template-rows: auto;
  max-width: var(--max-width);
  width: calc(100% - (2 * var(--offset)));
  height: 100vh;
}

main {
  display: grid;
  gap: var(--vertical-space);
  grid-template-columns: 100%;
  grid-template-rows: auto;
  margin: var(--vertical-space) auto;
  max-width: var(--max-width);
  width: calc(100% - (2 * var(--offset)));
}

.i_m{
    display: flex;
    flex-direction: row;

    .ingredients{

      @media only screen and (max-width: 700px){
        margin: 0 auto;
        margin-left: 25px;
        margin-right: 25px;
      }
    
      @media only screen and (min-width: 701px) {
        margin-left: 150px;
        margin-top: 90px;
      }
    }

    .method{
        @media only screen and (max-width: 700px){
          margin: 0 auto;
          margin-left: 25px;
          margin-right: 25px;
        }
      
        @media only screen and (min-width: 701px) {
          margin-top: 90px;
          margin-right: 155px;

        }
      
    }
}
