.wrapper {
  display: grid;
  gap: var(--vertical-space);
  grid-template-columns: 100%;
  grid-template-rows: auto;
  margin: 0 auto;
  max-width: 100%;
  min-height: 100%;
  width: 100%;
}

main {
  display: grid;
  gap: var(--vertical-space);
  grid-template-columns: 100%;
  grid-template-rows: auto;
  margin: var(--vertical-space) auto;
  max-width: var(--max-width);
  width: calc(100% - (2 * var(--offset)));
}

.latest-recipes-section {
  display: grid;
  gap: var(--vertical-space);
  grid-template-rows: auto;
  width: 100%;
}

.latest-recipes-heading-home {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  @media (min-width: 600px) {
    align-items: flex-start;
  }
}

.i-m {
  display: grid;
  gap: var(--vertical-space);
  grid-template-columns: repeat(var(--columns), 1fr);
  grid-template-rows: auto;
  width: 100%;

  @media only screen and (max-width: 830px) {
    display: flex;
    flex-direction: column;
  }
}

.ingredients {
  @media only screen and (max-width: 831px) {
    margin: 0 auto;
    margin-left: 7%;
    margin-right: 7%;
  }

  @media only screen and (min-width: 1100px) {
    grid-column: 0 / span 6;
  }
}

.method {
  @media only screen and (max-width: 830px) {
    margin: 0 auto;
    margin-left: 7%;
    margin-right: 7%;
  }

  @media only screen and (min-width: 831px) {
    grid-column: 5 / span 7;
    margin-top: 6%;
  }
}
