.newsletter {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    // position: absolute;
    width: 1600px;
    height: 339px;
    left: calc(50% - 1600px/2);
    bottom: 336px;

    background-color: black;

    h1 {
        color: var(--newsletter-color-primary);
    }

    p, .newsletter-button {
        color: var(--newsletter-color-secondary);
    }
    label {
        display: block;
    }

}