.newsletter {
  align-items: center;
  background-color: var(--color-heading);
  display: flex;
  height: calc(calc(332/20) * var(--offset));
  justify-content: center;
  margin: 2rem auto;
  padding-bottom: calc(3 * var(--offset));
  padding-top: calc(3 * var(--offset));
  width: 100%;

  .newsletter-content {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    width: calc(calc(29/32) * 100%);
  }

  .newsletter-content div:first-child {
    flex: calc(4/7);
  }

  h1 {
    color: var(--newsletter-color);
    font-size: calc(1rem * calc(5/4));
  }

  .newsletter-button,
  p {
    color: var(--warm-color);
    font-family: var(--font-family-base-bolder);
    font-size: calc(calc(7/8) * 1rem);
  }

  .newsletter-text {
    align-items: center;
    display: flex;
    flex-direction: column;
    min-width: max-content;
  }

  p {
    font-size: calc(0.75 * 1rem);
  }

  label {
    color: var(--newsletter-color);
    font-family: var(--font-family-base-bolder);
    font-size: calc(0.75 * 1rem);
  }

  input {
    background-color: var(--color-heading);
    border: 0;
    font-family: var(--font-family-heading);
    font-size: calc(calc(9/8) * 1rem);
    line-height: calc(calc(3/2) * 1rem);
  }

  input::placeholder {
    color: var(--newsletter-color);
    opacity: 1;
  }

  input:focus {
    color: var(--newsletter-color);
    outline: none;
  }

  input:focus::placeholder {
    color: var(--input-focus-color);
  }

  .netfang-rammi {
    border-bottom: 1px solid var(--warm-color);
    display: flex;
    flex-direction: column;
    height: calc(calc(27/8) * 1rem);
    max-width: 100%;
    min-width: max-content;
  }

  .newsletter-button {
    align-items: center;
    border: 1px solid var(--warm-color);
    display: flex;
    height: calc(calc(21/8) * 1rem);
    justify-content: center;
    padding-left: 5%;
    padding-right: 5%;
  }
}

@media (min-width: 320px) {
  .newsletter {
    .netfang-rammi {
      width: calc(calc(255/16) * 1rem);
    }

    .newsletter-button {
      padding: 0%;
      width: calc(calc(191/16) * 1rem);
    }
  }
}

@media (min-width: 1200px) {
  .newsletter {
    height: calc(calc(339/20) * var(--offset));
    padding: 0;

    input {
      font-size: calc(calc(11/8) * 1rem);
      line-height: calc(calc(29/16) * 1rem);
    }

    label {
      font-size: calc(calc(7/8) * 1rem);
    }

    h1 {
      font-size: calc(1rem * calc(40/16));
    }

    .newsletter-content {
      align-items: flex-end;
      flex: auto;
      flex-direction: row;
      height: auto;
      justify-content: space-evenly;
      max-width: var(--max-width);
      width: 100%;

      div:first-child {
        flex: 0;
        //flex: none;
      }
    }

    .netfang-rammi {
      min-height: calc(calc(65/16) * 1rem);
      min-width: calc(calc(301/1600) * 100%);
    }

    p,
    .newsletter-button {
      font-size: 1rem;
    }

    .newsletter-button {
      min-height: calc(calc(52/16) * 1rem);
      min-width: calc(calc(25/160) * 100%);
    }

    .newsletter-text {
      align-items: flex-start;
      height: calc(calc(79/16) * 1rem);
      max-width: calc(calc(565/1600) * 100%);
      min-width: max-content;
    }
  }
}
